In [6]:
import sqlalchemy

In [7]:
db = 'postgresql://netology_dj:music@localhost:5432/netology_music'
engine = sqlalchemy.create_engine(db)
connection = engine.connect()

In [11]:
connection.execute("""INSERT INTO Genre 
           VALUES(1, 'Alternative Rock');
""")
connection.execute("""INSERT INTO Genre 
           VALUES(2, 'Pop');
""")
connection.execute("""INSERT INTO Genre 
           VALUES(3, 'Hip-Hop');
""")
connection.execute("""INSERT INTO Genre 
           VALUES(4, 'Rap / Rapcore');
""")
connection.execute("""INSERT INTO Genre 
           VALUES(5, 'Rhythm & Blues');
""")

In [43]:
def table_check(table):  
    result = connection.execute(f"""SELECT * FROM {table};""").fetchall()
    for item in result:
        print(item)
table_check('Genre')

(1, 'Alternative Rock')
(2, 'Pop')
(3, 'Hip-Hop')
(4, 'Rap / Rapcore')
(5, 'Rhythm & Blues')

In [29]:
def insert_artist(id, name):
    connection.execute(f"""INSERT INTO Artist 
           VALUES({id}, '{name}');
    """)

In [209]:
insert_artist(1, 'Shakira')
insert_artist(2, 'Linkin Park')
insert_artist(3, 'Wiz Khalifa')
insert_artist(4, 'Outkast')
insert_artist(5, 'Limp Bizkit')
insert_artist(6, 'Jay-Z')
insert_artist(7, 'Christina Aguilera')
insert_artist(8, 'A-ha')
insert_artist(9, 'Travis Scott')
insert_artist(10, 'Juice Wrld')
insert_artist(11, 'Dua Lipa')
insert_artist(12, 'FACE')

In [210]:
table_check('Artist')

(1, 'Shakira')
(2, 'Linkin Park')
(3, 'Wiz Khalifa')
(4, 'Outkast')
(5, 'Limp Bizkit')
(6, 'Jay-Z')
(7, 'Christina Aguilera')
(8, 'A-ha')
(9, 'Travis Scott')
(10, 'Juice Wrld')
(11, 'Dua Lipa')
(12, 'FACE')

In [38]:
def insert_album(id, name, release_year):
    connection.execute(f"""INSERT INTO Album 
           VALUES({id}, '{name}', {release_year});
    """)

In [211]:
insert_album(1, 'Meteora', 2003)
insert_album(2, 'Hybrid Theory', 2000)
insert_album(3, 'Rolling Papers', 2011)
insert_album(4, 'She Wolf', 2009)
insert_album(5, 'Stankonia', 2000)
insert_album(6, 'Results May Vary', 2003)
insert_album(7, 'Collision Course', 2004)
insert_album(8, 'The Black Album', 2004)
insert_album(9, 'Stripped', 2002)
insert_album(10, 'Minor Earth Major Sky', 2000)
insert_album(11, 'Astroworld', 2018)
insert_album(12, 'Death Race for Love', 2019)
insert_album(13, 'Future Nostalgia', 2020)
insert_album(14, 'KRAZY', 2021)

In [212]:
table_check('Album')

(1, 'Meteora', 2003)
(2, 'Hybrid Theory', 2000)
(3, 'Rolling Papers', 2011)
(4, 'She Wolf', 2009)
(5, 'Stankonia', 2000)
(6, 'Results May Vary', 2003)
(7, 'Collision Course', 2004)
(8, 'The Black Album', 2004)
(9, 'Stripped', 2002)
(10, 'Minor Earth Major Sky', 2000)
(11, 'Astroworld', 2018)
(12, 'Death Race for Love', 2019)
(13, 'Future Nostalgia', 2020)
(14, 'KRAZY', 2021)

In [58]:
def insert_track(id, name, duration, album_id):
    connection.execute(f"""INSERT INTO Track 
           VALUES({id}, '{name}', {duration}, {album_id});
    """)

In [213]:
insert_track(1, 'She Wolf', 3.08, 4)
insert_track(2, 'Faint', 2.42, 1)
insert_track(3, 'When Im Gone', 4.08, 3)
insert_track(4, 'Black and Yellow', 3.37, 3)
insert_track(5, 'Numb', 3.08, 1)
insert_track(6, 'Somewhere I Belong', 3.34, 1)
insert_track(7, 'In The End', 3.36, 2)
insert_track(8, 'Ms. Jackson', 4.30, 5)
insert_track(9, 'Behind Blue Eyes', 6.05, 6)
insert_track(10, 'Numb/Encore', 3.25, 7)
insert_track(11, '99 Problems', 3.54, 8)
insert_track(12, 'Velvet', 4.21, 10)
insert_track(13, 'Fighter', 4.05, 9)
insert_track(14, 'Summer Moved On', 4.38, 10)
insert_track(15, 'Eat You Alive', 3.57, 6)
insert_track(16, 'My December', 4.20, 2)
insert_track(17, 'On my level', 4.32, 3)
insert_track(18, 'She''s the one', 3.08, 12)
insert_track(19, 'Feeling', 3.21, 12)
insert_track(20, 'Break My Heart', 3.41, 13)
insert_track(21, 'Physical', 3.13, 13)
insert_track(22, 'Sicko Mode', 5.12, 11)
insert_track(23, 'Амири', 2.42, 14)

In [214]:
table_check('Track')

(1, 'She Wolf', Decimal('3.08'), 4)
(2, 'Faint', Decimal('2.42'), 1)
(3, 'When Im Gone', Decimal('4.08'), 3)
(4, 'Black and Yellow', Decimal('3.37'), 3)
(5, 'Numb', Decimal('3.08'), 1)
(6, 'Somewhere I Belong', Decimal('3.34'), 1)
(7, 'In The End', Decimal('3.36'), 2)
(8, 'Ms. Jackson', Decimal('4.30'), 5)
(9, 'Behind Blue Eyes', Decimal('6.05'), 6)
(10, 'Numb/Encore', Decimal('3.25'), 7)
(11, '99 Problems', Decimal('3.54'), 8)
(12, 'Velvet', Decimal('4.21'), 10)
(13, 'Fighter', Decimal('4.05'), 9)
(14, 'Summer Moved On', Decimal('4.38'), 10)
(15, 'Eat You Alive', Decimal('3.57'), 6)
(16, 'My December', Decimal('4.20'), 2)
(17, 'On my level', Decimal('4.32'), 3)
(18, 'Shes the one', Decimal('3.08'), 12)
(19, 'Feeling', Decimal('3.21'), 12)
(20, 'Break My Heart', Decimal('3.41'), 13)
(21, 'Physical', Decimal('3.13'), 13)
(22, 'Sicko Mode', Decimal('5.12'), 11)
(23, 'Амири', Decimal('2.42'), 14)

In [62]:
def insert_collection(id, name, release_year):
    connection.execute(f"""INSERT INTO Collection 
           VALUES({id}, '{name}', {release_year});
    """)

In [63]:
insert_collection(1, 'Hip-Hop Collection', 2012)
insert_collection(2, 'Rock Collection', 2006)
insert_collection(3, 'Pop Collection', 2011)
insert_collection(4, 'Romantic Collection', 2009)
insert_collection(5, 'Retro Collection', 2015)
insert_collection(6, 'Party Collection', 2010)
insert_collection(7, 'iDunno Collection', 2019)
insert_collection(8, 'First Collection', 2011)

In [64]:
table_check('Collection')

(1, 'Hip-Hop Collection', 2012)
(2, 'Rock Collection', 2006)
(3, 'Pop Collection', 2011)
(4, 'Romantic Collection', 2009)
(5, 'Retro Collection', 2015)
(6, 'Party Collection', 2010)
(7, 'iDunno Collection', 2019)
(8, 'First Collection', 2011)

In [65]:
def insert_artistgenre(artist_id, genre_id):
    connection.execute(f"""INSERT INTO Artistgenre 
           VALUES({artist_id}, {genre_id});
    """)

In [215]:
insert_artistgenre(1,2)
insert_artistgenre(2,1)
insert_artistgenre(2,4)
insert_artistgenre(3,3)
insert_artistgenre(4,3)
insert_artistgenre(4,5)
insert_artistgenre(5,1)
insert_artistgenre(5,4)
insert_artistgenre(6,3)
insert_artistgenre(6,5)
insert_artistgenre(7,2)
insert_artistgenre(8,2)
insert_artistgenre(9,4)
insert_artistgenre(10,3)
insert_artistgenre(11,2)
insert_artistgenre(6,4)
insert_artistgenre(12,4)

In [216]:
table_check('artistgenre')

(1, 2)
(2, 1)
(2, 4)
(3, 3)
(4, 3)
(4, 5)
(5, 1)
(5, 4)
(6, 3)
(6, 5)
(7, 2)
(8, 2)
(9, 4)
(10, 3)
(11, 2)
(6, 4)
(12, 4)

In [68]:
def insert_artistalbum(artist_id, album_id):
    connection.execute(f"""INSERT INTO Artistalbum 
           VALUES({artist_id}, {album_id});
    """)

In [217]:
insert_artistalbum(1,4)
insert_artistalbum(2,1)
insert_artistalbum(2,2)
insert_artistalbum(2,7)
insert_artistalbum(3,3)
insert_artistalbum(4,5)
insert_artistalbum(5,6)
insert_artistalbum(6,8)
insert_artistalbum(6,7)
insert_artistalbum(7,9)
insert_artistalbum(8,10)
insert_artistalbum(9,11)
insert_artistalbum(10,12)
insert_artistalbum(11,13)
insert_artistalbum(12,14)

In [218]:
table_check('artistalbum')

(1, 4)
(2, 1)
(2, 2)
(2, 7)
(3, 3)
(4, 5)
(5, 6)
(6, 8)
(6, 7)
(7, 9)
(8, 10)
(9, 11)
(10, 12)
(11, 13)
(12, 14)

In [72]:
def insert_trackcollection(track_id, collection_id):
    connection.execute(f"""INSERT INTO trackcollection 
           VALUES({track_id}, {collection_id});
    """)

In [73]:
insert_trackcollection(1,3)
insert_trackcollection(2,2)
insert_trackcollection(8,1)
insert_trackcollection(9,3)
insert_trackcollection(11,1)
insert_trackcollection(7,2)
insert_trackcollection(10,2)
insert_trackcollection(10,1)
insert_trackcollection(13,3)
insert_trackcollection(14,3)
insert_trackcollection(15,3)

In [74]:
table_check('trackcollection')

(1, 3)
(2, 2)
(8, 1)
(9, 3)
(11, 1)
(7, 2)
(10, 2)
(10, 1)
(13, 3)
(14, 3)
(15, 3)

In [79]:
connection.execute("""SELECT name, release_year FROM Album
    WHERE release_year = 2018;
""").fetchall()

[('Astroworld', 2018)]

In [83]:
connection.execute("""SELECT name, duration FROM Track
    ORDER BY duration DESC;
""").fetchone()

('Behind Blue Eyes', Decimal('6.05'))

In [85]:
connection.execute("""SELECT name FROM Track
    WHERE duration >= 3.30
    ORDER BY duration DESC;
""").fetchall()

[('Behind Blue Eyes',),
 ('Summer Moved On',),
 ('Ms. Jackson',),
 ('Velvet',),
 ('When Im Gone',),
 ('Fighter',),
 ('Eat You Alive',),
 ('99 Problems',),
 ('Black and Yellow',),
 ('In The End',),
 ('Somewhere I Belong',)]

In [86]:
connection.execute("""SELECT name FROM Collection
    WHERE release_year BETWEEN 2018 AND 2020;
""").fetchall()

[('iDunno Collection',)]

In [94]:
connection.execute("""SELECT name FROM Artist
    WHERE name NOT LIKE '%% %%' AND name NOT LIKE '%%-%%';
""").fetchall()

[('Shakira',), ('Outkast',)]

In [103]:
connection.execute("""SELECT name FROM Track
    WHERE name LIKE '%%My%%'OR name LIKE '%%my%%';
""").fetchall()

[('My December',), ('On my level',)]

In [246]:
connection.execute("""SELECT artist.name, genre.name FROM artist
    FULL JOIN artistgenre ON artist.id = artistgenre.artist_id
    FULL JOIN genre ON artistgenre.genre_id = genre.id
;""").fetchall()

[('Shakira', 'Pop'),
 ('Linkin Park', 'Alternative Rock'),
 ('Linkin Park', 'Rap / Rapcore'),
 ('Wiz Khalifa', 'Hip-Hop'),
 ('Outkast', 'Hip-Hop'),
 ('Outkast', 'Rhythm & Blues'),
 ('Limp Bizkit', 'Alternative Rock'),
 ('Limp Bizkit', 'Rap / Rapcore'),
 ('Jay-Z', 'Hip-Hop'),
 ('Jay-Z', 'Rhythm & Blues'),
 ('Christina Aguilera', 'Pop'),
 ('A-ha', 'Pop'),
 ('Travis Scott', 'Rap / Rapcore'),
 ('Juice Wrld', 'Hip-Hop'),
 ('Dua Lipa', 'Pop'),
 ('Jay-Z', 'Rap / Rapcore'),
 ('FACE', 'Rap / Rapcore')]

In [247]:
# количество исполнителей в каждом жанре;
connection.execute("""SELECT COUNT(artist_id), genre.name FROM artistgenre
    FULL JOIN genre ON artistgenre.genre_id = genre.id
    GROUP BY genre.name
;""").fetchall()

[(5, 'Rap / Rapcore'),
 (4, 'Pop'),
 (2, 'Alternative Rock'),
 (4, 'Hip-Hop'),
 (2, 'Rhythm & Blues')]

In [248]:
# количество треков, вошедших в альбомы 2019-2020 годов;
connection.execute("""SELECT COUNT(track.id), album.release_year FROM track
    FULL JOIN album ON track.album_id = album.id
    WHERE release_year BETWEEN 2019 AND 2020
    GROUP BY release_year
;""").fetchall()

[(2, 2019), (2, 2020)]

In [153]:
# средняя продолжительность треков по каждому альбому;
connection.execute("""SELECT round(AVG(t.duration), 2), a.name FROM track t
    FULL JOIN album a ON t.album_id = a.id
    GROUP BY a.name
;""").fetchall()

[(Decimal('3.54'), 'The Black Album'),
 (Decimal('3.92'), 'Rolling Papers'),
 (Decimal('4.81'), 'Results May Vary'),
 (Decimal('4.30'), 'Minor Earth Major Sky'),
 (Decimal('3.27'), 'Future Nostalgia'),
 (Decimal('3.25'), 'Collision Course'),
 (Decimal('5.12'), 'Astroworld'),
 (Decimal('4.30'), 'Stankonia'),
 (Decimal('3.08'), 'She Wolf'),
 (Decimal('3.15'), 'Death Race for Love'),
 (Decimal('3.78'), 'Hybrid Theory'),
 (Decimal('2.95'), 'Meteora'),
 (Decimal('4.05'), 'Stripped')]

In [249]:
# все исполнители, которые не выпустили альбомы в 2020 году;
connection.execute("""SELECT DISTINCT ar.name FROM artist ar
    FULL JOIN artistalbum aa ON aa.artist_id = ar.id
    FULL JOIN album al ON aa.album_id = al.id
    WHERE release_year != 2020
;""").fetchall()

[('Shakira',),
 ('A-ha',),
 ('Linkin Park',),
 ('Limp Bizkit',),
 ('Outkast',),
 ('Christina Aguilera',),
 ('Wiz Khalifa',),
 ('FACE',),
 ('Travis Scott',),
 ('Juice Wrld',),
 ('Jay-Z',)]

In [250]:
# названия сборников, в которых присутствует конкретный исполнитель (Linkin Park);
connection.execute("""SELECT DISTINCT c.name FROM collection c
    LEFT JOIN trackcollection tc ON c.id = tc.collection_id
    LEFT JOIN track t ON tc.track_id = t.id
    LEFT JOIN album al ON t.album_id = al.id
    LEFT JOIN artistalbum ab ON ab.album_id = al.id
    LEFT JOIN artist a ON ab.artist_id = a.id
    WHERE a.name in ('Linkin Park')
;""").fetchall()

[('Rock Collection',), ('Hip-Hop Collection',)]

In [244]:
# название альбомов, в которых присутствуют исполнители более 1 жанра;
connection.execute("""SELECT COUNT(genre_id), al.name FROM artistgenre ag
    LEFT JOIN artist a ON ag.artist_id = a.id
    LEFT JOIN artistalbum aa ON aa.artist_id = a.id
    LEFT JOIN album al ON al.id = aa.album_id
    GROUP BY al.name
    HAVING COUNT(genre_id) > 1
;""").fetchall()

[(3, 'The Black Album'),
 (2, 'Results May Vary'),
 (5, 'Collision Course'),
 (2, 'Stankonia'),
 (2, 'Hybrid Theory'),
 (2, 'Meteora')]

In [251]:
# наименование треков, которые не входят в сборники;
connection.execute("""SELECT * FROM track t
    FULL JOIN trackcollection ON trackcollection.track_id = t.id
    WHERE trackcollection.track_id IS NULL
;""").fetchall()

[(20, 'Break My Heart', Decimal('3.41'), 13, None, None),
 (17, 'On my level', Decimal('4.32'), 3, None, None),
 (12, 'Velvet', Decimal('4.21'), 10, None, None),
 (18, 'Shes the one', Decimal('3.08'), 12, None, None),
 (21, 'Physical', Decimal('3.13'), 13, None, None),
 (5, 'Numb', Decimal('3.08'), 1, None, None),
 (19, 'Feeling', Decimal('3.21'), 12, None, None),
 (6, 'Somewhere I Belong', Decimal('3.34'), 1, None, None),
 (16, 'My December', Decimal('4.20'), 2, None, None),
 (4, 'Black and Yellow', Decimal('3.37'), 3, None, None),
 (23, 'Амири', Decimal('2.42'), 14, None, None),
 (22, 'Sicko Mode', Decimal('5.12'), 11, None, None),
 (3, 'When Im Gone', Decimal('4.08'), 3, None, None)]

In [219]:
# исполнителя(-ей), написавшего самый короткий по продолжительности трек (теоретически таких треков может быть несколько);
connection.execute("""SELECT a.name FROM artist a
    LEFT JOIN artistalbum aa ON aa.artist_id = a.id
    LEFT JOIN track t ON aa.album_id = t.album_id
    WHERE t.duration = (SELECT MIN(duration) FROM track)
;""").fetchall()

[('Linkin Park',), ('FACE',)]

In [229]:
# название альбомов, содержащих наименьшее количество треков.
connection.execute("""SELECT al.name, COUNT(t.id) FROM album al
    LEFT JOIN track t ON al.id = t.album_id
    GROUP BY al.id
    ORDER BY COUNT(t.id)
;""").fetchall()

[('She Wolf', 1),
 ('Astroworld', 1),
 ('Stripped', 1),
 ('Stankonia', 1),
 ('KRAZY', 1),
 ('Collision Course', 1),
 ('The Black Album', 1),
 ('Future Nostalgia', 2),
 ('Minor Earth Major Sky', 2),
 ('Results May Vary', 2),
 ('Hybrid Theory', 2),
 ('Death Race for Love', 2),
 ('Rolling Papers', 3),
 ('Meteora', 3)]

In [254]:
# название альбомов, содержащих наименьшее количество треков.
connection.execute("""SELECT al.name, COUNT(track.id) FROM album al
    LEFT JOIN track ON al.id = track.album_id
    GROUP BY al.id
    HAVING COUNT(track.id) = (SELECT COUNT(track.id) FROM album 
        JOIN track ON album.id = track.album_id
        GROUP BY album_id
        ORDER BY COUNT(track.id)
        LIMIT 1)
;""").fetchall()

[('She Wolf', 1),
 ('Astroworld', 1),
 ('Stripped', 1),
 ('Stankonia', 1),
 ('KRAZY', 1),
 ('Collision Course', 1),
 ('The Black Album', 1)]